/* Stylesheet for index.html */

body {
    font-size: 100%;
    background-color: #f5e7fd;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#columns {
    position: relative;
    width: 100%;

.left {
    width: 33%;
    position: absolute;
    left: 0;
}

.right {
    width: 33%;
    right: 0;
    position: absolute;
}

.center {
    width: 34%;
    position: absolute;
    margin-right: 33%;
}

h3 {
    font-size: 2em;
    color: green;
    text-allign: center;
}

p {
    text-allign: center;
    
}
    